* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.first-text {
  width: 100%;
  text-align: center;
  height: 30px;
  color: #084680;
  font-size: 2vw;
  margin-bottom: 5vh;
  margin-top: 25px;
  font-weight: bold;
}
.wrap {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.app-cont {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hot-air-balloons_5616x3744_e9rzo\ 1.jpg);
  background-position: top;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav_panel {
  background-color: white;
}
.avatar-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar-cont img {
  width: 35%;
}
.avatar-cont p {
  font-size: 1.5vw;
  font-weight: bold;
  margin-left: 20px;
}
.ava {
  width: 40%;
  border-radius: 360px;
}
.add_task {
  display: block;
  width: 75%;
  height: 5vh;
  margin: 0 auto;
  margin-top: 4vh;
  margin-bottom: 50px;
  color: white;
  background-color: #0080FF;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1vw;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}
.accordion_btn {
  font-size: 1.5vw;
  font-weight: 600;
}
.hello-block {
  width: 100%;
  background-color: white;
  height: 5vh;
  margin-top: 15vh;
  margin-bottom: 2.5vh;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1vw;
}
.hello-text {
  font-size: 1.25vw;
  font-weight: bold;
}
.first-block {
  width: 100%;
  background-color: white;
  height: 60vh;
  border-radius: 15px;
  padding-top: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.icon-UpandDown {
  width: 1.25vw;
  margin-left: 1vw;
}
.today-block {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}
.today-block {
  font-size: 1.5vw;
  font-weight: 600;
  color: #0080FF;
}
.today-circle {
  width: 30px;
  height: 30px;
  font-size: 70%;
  border-radius: 360px;
  background-color: #C3C3C3;
  color: white;
  border: none;
}
.second-block {
  width: 100%;
  background-color: white;
  height: 60vh;
  border-radius: 15px;
  padding-top: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 22.5vh;
}
.pop_up {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: -1;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.pop_up_active {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 2;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.pop_up_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: black;
  opacity: .8;
}
.pop_up_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.pop_up_body {
  position: relative;
  text-align: center;
  margin-left: 10px;
  width: 35vw;
  height: 50vh;
  opacity: 0;
}
.pop_up_body_active {
  position: relative;
  text-align: center;
  margin: auto;
  width: 50vw;
  height: 80vh;
  opacity: 1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}
.pop_up_content_layer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 1;
  border-radius: 15px;
  padding: 2vh 1.5vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.pop_up_content_layer_active {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: white;
  opacity: 1;
  border-radius: 15px;
  padding: 2vh 1.5vw;
  left: 0%;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal-first-input {
  width: 100%;
  border: none;
  display: block;
  font-size: 24px;
  font-weight: 800;
  color: rgba(158, 156, 152, 0.904);
  background-color: #e2dcdc;
  border-radius: 5px;
  padding-left: 5%;
}
.modal-first-input:focus {
  border: none;
  outline: none;
}
.close_modal {
  width: 5%;
  position: absolute;
  z-index: 0;
  right: 2.5%;
  top: 2.5%;
  opacity: .5;
}
.modal_text_title {
  color: rgba(158, 156, 152, 0.904);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
  font-size: 1.2vw;
  font-weight: 800;
  padding-left: 2.5%;
  margin-bottom: 10%;
  text-align: left;
  height: 100%;
  max-height: 10vh;
  overflow: scroll;
  padding-top: 10px;
}
.modal_text_title:hover {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  border-radius: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.modal_text_title:focus {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.second_input_title {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1vw;
}
.modal_text_main {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-size: 1.2vw;
  font-weight: 800;
  padding-left: 2.5%;
  margin-bottom: 10%;
  text-align: left;
  max-height: 10vh;
  padding-top: 10px;
  font-size: .8vw;
  padding: 1%;
  border-radius: 15px;
  overflow: scroll;
  height: 100%;
  max-height: 40vh;
  color: rgba(158, 156, 152, 0.904);
  font-weight: normal;
}
.modal_text_main:hover {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  border-radius: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.modal_text_main:focus {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.line {
  width: 1px;
  height: 70vh;
  background-color: rgba(158, 156, 152, 0.904);
  display: block;
  float: left;
  margin-right: 10px;
}
.pop_up_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
  width: 100%;
  height: 5vh;
  font-weight: 600;
  color: #e2dcdc;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: white;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: 0;
}
.pop_up_footer_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
  width: 100%;
  height: 5vh;
  font-weight: 600;
  color: #e2dcdc;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition: 3s;
  transition: 3s;
  border: none;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: 1;
}
.modal_task_type {
  text-align: left;
  font-size: 1.5vw;
}
.modal_task_type_info {
  font-size: 1.2vw;
  color: #0080FF;
  text-align: left;
  margin-top: 1vh;
  cursor: pointer;
  font-weight: 600;
}
.task_type_modal_cont {
  position: absolute;
  width: 10%;
  height: 10vh;
  background-color: white;
  z-index: 3;
  right: 0%;
  top: 0%;
  opacity: 0;
  z-index: -2;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  border-radius: 15px;
}
.task_type_modal_cont_active {
  position: absolute;
  width: 75%;
  height: 60vh;
  background-color: white;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 3;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  border-radius: 15px;
  padding: 2vh;
}
.zatemnitel {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: black;
  z-index: -3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.zatemnitel_active {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: black;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .3;
  border-radius: 15px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.close_small_modal {
  width: 5%;
  position: absolute;
  z-index: 0;
  right: 2.5%;
  top: 2.5%;
  opacity: .5;
}
.smoll_modal_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  height: 7.5vh;
  width: 100%;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25vw;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.asks_type_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7.5vh;
  text-align: left;
  cursor: pointer;
}
.asks_type_main:hover {
  background-color: #f6f6f6;
}
.under-line {
  width: 100%;
  height: .5px;
  background-color: #ccc4c4;
}
.asks_type_main_cont {
  width: 100%;
  height: 40vh;
  overflow: scroll;
}
.asks_type_main_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 360px;
  background-color: #23ce88;
  text-align: center;
}
.asks_type_main_icon i {
  color: white;
}
.btn_add_spisok {
  margin-left: 0.5vw;
  width: 5vh;
  height: 5vh;
  border: 1px solid #ccc4c4;
  border-radius: 360px;
}
.btn_add_spisok:hover {
  width: 5vh;
  height: 5vh;
  border: none;
  border-radius: 360px;
  background-color: #0080FF;
  color: white;
}
.btn_add_spisok:hover i {
  color: white;
}
i {
  color: #C3C3C3;
}
.forma-spiskov input {
  width: 70%;
  height: 5vh;
  border-radius: 50px;
  border: 1px solid #ccc4c4;
  padding-left: 10px;
}
.forma-spiskov input:focus {
  width: 70%;
  height: 5vh;
  border-radius: 50px;
  border: 1px solid #084680;
  outline: #0080FF;
}
.spisok_main_cont {
  width: 100%;
  height: 40vh;
  overflow: scroll;
  margin-top: 1vh;
}
.spisok_type_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7.5vh;
  text-align: left;
  cursor: pointer;
}
.spisok_type_main:hover {
  background-color: #f6f6f6;
}
@media screen and (min-width: 993px) and (max-width: 1400px) {
  .pop_up_body_active {
    position: relative;
    text-align: center;
    margin: auto;
    width: 50vw;
    height: 80vh;
    opacity: 1;
    -webkit-transition: .7s ease;
    transition: .7s ease;
  }
  .pop_up_content_layer_active {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: white;
    opacity: 1;
    border-radius: 15px;
    padding: 2vh 1.5vw;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .line {
    width: 1px;
    height: 70vh;
    background-color: rgba(158, 156, 152, 0.904);
    display: block;
    float: left;
    margin-right: 10px;
  }
  .modal_task_type {
    text-align: left;
    font-size: 1.5vw;
  }
  .modal_task_type_info {
    font-size: 1.25vw;
    color: #0080FF;
    text-align: left;
    margin-top: 1vh;
    cursor: pointer;
    font-weight: 600;
  }
  .zatemnitel {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: black;
    z-index: -3;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 15px;
    opacity: 0;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  .zatemnitel_active {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: black;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: .3;
    border-radius: 15px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .modal_text_main {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 1.2vw;
    font-weight: 800;
    padding-left: 2.5%;
    margin-bottom: 10%;
    text-align: left;
    max-height: 10vh;
    padding-top: 10px;
    font-size: 1.25vw;
    padding: 1%;
    border-radius: 15px;
    overflow: scroll;
    height: 100%;
    max-height: 40vh;
    color: rgba(158, 156, 152, 0.904);
    font-weight: normal;
  }
  .modal_text_main:hover {
    border: none;
    outline: none;
    background-color: #f6f6f6;
    border-radius: 5px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .modal_text_main:focus {
    border: none;
    outline: none;
    background-color: #f6f6f6;
    border-radius: 5px;
  }
  .second_input_title {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5vw;
  }
  .task_type_modal_cont {
    position: absolute;
    width: 10%;
    height: 10vh;
    background-color: white;
    z-index: 3;
    right: 0%;
    top: 0%;
    opacity: 0;
    z-index: -2;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border-radius: 15px;
  }
  .task_type_modal_cont_active {
    position: absolute;
    width: 75%;
    height: 60vh;
    background-color: white;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 3;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 15px;
    padding: 2vw;
  }
  .under-line {
    width: 100%;
    height: .5px;
    background-color: #ccc4c4;
  }
  .btn_add_spisok {
    margin-left: 1vw;
    width: 5vh;
    height: 5vh;
    border: 1px solid #ccc4c4;
    border-radius: 360px;
  }
  .btn_add_spisok:hover {
    width: 5vh;
    height: 5vh;
    border: none;
    border-radius: 360px;
    background-color: #0080FF;
    color: white;
  }
  i {
    color: #C3C3C3;
  }
  .forma-spiskov input {
    width: 80%;
    height: 5vh;
    border-radius: 50px;
    border: 1px solid #ccc4c4;
    padding-left: 10px;
  }
  .forma-spiskov input:focus {
    width: 80%;
    height: 5vh;
    border-radius: 50px;
    border: 1px solid #084680;
    outline: #0080FF;
  }
}
