* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.first-text {
  width: 100%;
  text-align: center;
  height: 30px;
  color: #084680;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 25px;
  font-weight: bold;
}
.app-cont {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hot-air-balloons_5616x3744_e9rzo\ 1.jpg);
  background-position: top;
  margin: 0px;
  padding: 0px;
}
.nav_panel {
  background-color: white;
}
h1 {
  margin: 0 auto;
  color: #084680;
  margin-top: 5px;
}
.avatar-cont {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar-cont p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.add_task {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  color: white;
  background-color: #0080FF;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}
.accordion_btn {
  font-size: 25px;
  font-weight: 600;
}
